<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FL Software</title>
    <link rel="stylesheet" href="/static\css/style.css">
    
</head>

<body>
    <h1>FL Software</h1>
    {% for comentario in comentarios %}
    <p>{{comentario}}</p>
    {% endfor %}

    <h2>Comentários</h2>

    <form method="POST">
        <textarea name="comentar" cols="50" rows="4"></textarea>
        <button type="submit">Comentar</button>
    </form>

</body>

</html>